

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 3fr);
    gap: 15px;
    background-color: darkgrey;
}
.grid-item {
    padding: 110px;

}
.item1 {
    grid-column: 1 / 2;
    grid-row: 1 /4;
    background-color: blue
}
.item2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: cornflowerblue;.
}
.item3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: coral;
}
.item4 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    background-color: red;

}