.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr)  ;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
}
.grid-item {
    background-color: darkkhaki;
    padding: 70px;
}