body{
    background-color: darkgrey;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);


}
img {
    width: 100%;
    height: 100%;
}
.grid-item{
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    background-color: darkgrey;

    padding: 15px;

}
@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }}

    @media (max-width: 900px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
        }}
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns:  1fr;
    }}