body{
    background-color: darkgrey;
}
header {
    text-align: center;
    color: crimson;

    font-size: xxx-large;
    font-family: cursive;

}
.grid-container
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 6rem;
    box-shadow: 2px 2PX white;



}
img {
    width: 100%;
    height: 100%;
}
.imgp {
    width: 100%;
    height: 84%;
}
.grid-item{
    border: 1px solid black;
    background-color:darkkhaki;

}
.item1 {
    grid-column: 1/ 2;
    grid-row: 1 / 5;


}
.item2 {
    grid-column: 2/ 3;
    grid-row: 1 / 2;

}
.item3 {
    grid-column: 3/ 4;
    grid-row: 1 / 2;
}
.item4 {
    grid-column: 2/ 3;
    grid-row: 2/ 3;
}
.item5 {
    grid-column: 3/ 4;
    grid-row: 2 / 3;
}
.item6 { grid-column: 2 / 3;
grid-row: 3/ 4;}
.item7 { grid-column: 3 / 4;
    grid-row: 3 / 4;}
.item8 { grid-column: 2 / 3; grid-row: 4 / 5;}
.item9 { grid-column: 3 / 4; grid-row: 4 / 5;}