body{
    background-color:gray;
}
header {
    text-align: center;
    color: crimson;
    background-color: lightsalmon;
    height: 120px;
    width: 100%;
    padding-top: 30px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 50px;
    gap: 15px;
    grid-template-areas: "item3 item1 item1"
"item3 item1 item1"
"item3 item2 item2"
"item4 item4 item4";

}
.grid-item {
    background-color: lightsalmon;
    padding: 50px;
    text-align: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    color: crimson;
}
.item1 {
    grid-area: item1;

}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}